In [7]:
import pandas as pd
from surprise import Reader, Dataset, SVD

In [4]:
ratings = pd.read_csv('D:\\Shubhi\\DataScience\\MoviesRecommendation\\MovieLens_Dataset\\ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [18]:
ratings[ratings['movieId'] == 302]

       userId  movieId  rating  timestamp
13375      86      302     3.0  848161134
31298     224      302     4.0  828214012
54695     391      302     4.0  891533396
55143     396      302     4.0  834999154
73529     514      302     3.0  853893761
82993     564      302     4.0  974841654
91822     608      302     4.0  939461651

In [17]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB